.center {
	text-align: center;
}
fieldset {
	padding: 0px; margin: 0px;
}
fieldset dd {
	padding: 5px;
}
fieldset dt {
	padding: 5px;
	border-right: 0px;
}
li {
	font-size: .9em;
}
table {
	border-width: 0px;
}